@page "/capnhatprofile"
@rendermode InteractiveServer
@inject Profile_Service profileSerVice
@inject NavigationManager nav

@*Thư viện gọi alert*@
@inject IJSRuntime JsRuntime

@*Thư viện biểu thức chính quy*@
@using System.Text.RegularExpressions

<PageTitle>Cập nhật profile</PageTitle>
<h3>CapNhatProfile</h3>

<select @bind="profileName">
    @foreach (string pro in profiles)
    {
        <option>@pro</option>
    }
</select>

<label for="profile-type">Thuộc tính profile</label>
<select class="khanhbang" id="profile-type" @bind="profileAttribute">
    <option value="CPU_PER_SESSION" selected>CPU_PER_SESSION</option>
    <option value="SESSIONS_PER_USER">SESSIONS_PER_USER</option>
    <option value="CONNECT_TIME">CONNECT_TIME</option>
    <option value="IDLE_TIME">IDLE_TIME</option>
    <option value="LOGICAL_READS_PER_SESSION">LOGICAL_READS_PER_SESSION</option>
    <option value="PRIVATE_SGA">PRIVATE_SGA</option>
    <option value="CPU_PER_CALL">CPU_PER_CALL</option>
    <option value="LOGICAL_READS_PER_CALL">LOGICAL_READS_PER_CALL</option>
    <option value="FAILED_LOGIN_ATTEMPTS">FAILED_LOGIN_ATTEMPTS</option>
    <option value="PASSWORD_LOCK_TIME">PASSWORD_LOCK_TIME</option>
    <option value="PASSWORD_LIFE_TIME">PASSWORD_LIFE_TIME</option>
    <option value="PASSWORD_GRACE_TIME">PASSWORD_GRACE_TIME</option>
    <option value="PASSWORD_REUSE_TIME">PASSWORD_REUSE_TIME</option>
    <option value="PASSWORD_VERIFY_FUNCTION">PASSWORD_VERIFY_FUNCTION</option>
</select>

<label class="khanhbang" for="limit">Vui lòng nhập số giới hạn</label>
<input id="limit" type="number" min="1" @bind="value" />

<button @onclick="addAProfileAttribute" class="khanhbang">Thêm vào danh mục profile</button>



<button @onclick="taoProfile" style=" color: white; margin: 50px; font-weight: bold; width: 250px; height: 30px; border-radius:5px; border: none; background: url('https://cdn.pixabay.com/photo/2019/03/10/01/12/planet-4045330_960_720.jpg'); background-size: cover;">
    Lưu
</button>

 <h1 style="font-size:200px; color:red;">Xấu quá trời!!!</h1>

@code {
    private List<string> profiles = new List<string>();
    private string profileName { get; set; }
    private string profileAttribute { get; set; }

    private string thuocTinhProfile = "";
    private string value = "";


    protected override async Task OnInitializedAsync()
    {
        profiles = await profileSerVice.getAllProfileName();
    }

    private async void addAProfileAttribute()
    {
        string profileAttribute = this.profileAttribute;
        string value = this.value;
        if (!string.IsNullOrEmpty(value) && !string.IsNullOrEmpty(profileAttribute))
        {
            if (thuocTinhProfile.Contains(profileAttribute))
            {
                int index = thuocTinhProfile.IndexOf(profileAttribute) + 1;
                if (index != -1)
                {
                    string pattern = @"(" + profileAttribute + @"\s+)\d+";
                    thuocTinhProfile = Regex.Replace(thuocTinhProfile, pattern, $"${{1}}{value}");
                    // thuocTinhProfileHienThi = Regex.Replace(thuocTinhProfile, pattern, $"${{1}}{value}");
                }
            }
            else
            {
                thuocTinhProfile += profileAttribute + " " + value + " ";
                // thuocTinhProfileHienThi += profileAttribute + " " + value + "\n\t ";
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Vui lòng nhập hạn mức profile!");
        }
    }

    private async void taoProfile()
    {
        if (!String.IsNullOrEmpty(thuocTinhProfile))
        {
            if (await profileSerVice.createProfile(profileName, thuocTinhProfile))
            {
                // khanhBang += "thành công!";
                nav.NavigateTo("quanlyprofile");
            }
            else
            {
                // khanhBang += "thất công!";
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Vui lòng nhập đầy đủ thông tin hợp lệ cho profile!");
        }
    }

}
