body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    color: #333;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

    .styled-table thead tr {
        background: linear-gradient(45deg, #26a79a, #ff00cf);
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
        

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #4CAF50;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #4CAF50;
        }

.combobox_custom {
    height: 30px;
    border-radius: 5px;
    border-color: rgb(12 215 48);
    color: #5f39f9;
}

.table-prety {
    width: 70%;
}