* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--chieu-cao-top: 10vh;
}

/*================= TOÀN BỘ THANH CUỘN CỦA TRÌNH DUYỆT ==================*/
/* Custom thanh cuộn chiều dài và rộng*/
::-webkit-scrollbar {
	width: 5px;
	height: 0.5em;
}

/* Thuộc tính thanh cuộn bao bên ngoài*/
::-webkit-scrollbar-track {
	background: rgba(94, 91, 91, 0.466);
	border-radius: 10px;
	margin-block: 50px;
}

/* thuộc tính con trỏ cuộn */
::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #ff007f, #00efff);
	width: 10px;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
		background: linear-gradient(to top, #ff007f, #00efff);
	}

/*============================= đổi thanh cuộn cho toàn bộ chương trình ==========================*/

input::placeholder {
	color: #272c31;
}

.input-dep {
	font-weight: bold;
	padding: 7px 25px;
	border-radius: 29px;
	border: none;
	color: #272c31;
	width: 300px;
}

.input-dep:active {
	outline: none;
}
/*xóa*/
select:focus {
	border-color: #555;
	outline: none;
	color: #272c31;
}

/*Khi sổ xuống nó sẽ như thế này*/
option {
	background-color: #ffffff;
	color: #272c31;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Segoe UI', sans-serif;
	padding: 3.4px 25px;
	display:block;
}

select {
	font-weight: bold;
	padding: 7px 25px;
	border-radius: 29px;
	border: none;
	color: #272c31;
	width: 300px;
}
/*xoa*/

.background-main {
	position: relative;
	background: linear-gradient(to right,rgb(13 17 22),rgb(10 12 24));
}

.background-main-object {
	background: url('../img/object1.png') center / contain no-repeat;
	width: 200px;
	position: absolute;
	left: 0;
	top: 50%;
}

.navigation-top-menu {
	background: transparent;
	backdrop-filter: blur(10px);
	background-image: linear-gradient(to right,rgba(13 17 22,0.3),rgba(13 17 22,0.2));
	color: white;
	width: 100vw;
	height: var(--chieu-cao-top);
	position: fixed;
	z-index: 3;
}

.sidebar-menu-right {
	position: absolute;
	position: fixed;
	border-radius: 10px;
	border: 1px solid white;
	backdrop-filter: blur(20px);
	background: transparent;
	background: linear-gradient(45deg, #a200ca36, #00c9d178);
	z-index: 4;
	height: 100vh;
}

.btn-dang-xuat {
	background: linear-gradient(45deg, #bc3eff, #bf0000);
	border-radius: 7px;
	font-weight: bold;
}
.btn-ho-so:hover,
.btn-dang-xuat:hover {
	opacity: 0.8;
	border: 1px solid white;
	
}

.btn-ho-so:hover {
	text-decoration: none;
}

.btn-ho-so:focus {
	text-decoration: none;
}

.btn-ho-so {
	background: linear-gradient(45deg, #00fff8, #5915c9);
	border-radius: 7px;
	border: none;
	text-decoration: none;
}

.container-content {
	width: 84vw;
	margin-left: 15vw;
	margin-top: var(--chieu-cao-top);
	min-height:90vh;
	padding: 10px 0;
	z-index: 2;
/*	position: relative;*/
}

.menu-class {
	width: 13vw;

}

.nut-dep {
	margin: 10px 5px;
	padding: 7px 25px;
	border: none;
	border-radius: 20px;
	background: linear-gradient(45deg, #1df0ff, #00ff4a);
	color: #000;
	font-weight: bold;
	box-shadow: 1px 2px 14px #00f8ac;
	min-width: 130px;
}

.nut-dep:hover {
	color: white;
}

.chu-dep {
	font-size: 1.5rem;
	font-weight: bold;
	background: linear-gradient(128.87deg, #2bc3d4 14.05%, #d600c9 89.3%);
	background-clip: text;
	color: transparent;
	--web-kit-background-clip: text;
	display: block;
	width: 45%;
	margin: auto;
	text-align: center;
}

.menu-main::-webkit-scrollbar {
	width:5px;
	
}

.menu-main::-webkit-scrollbar-track {
	background: transparent;
}


.nut-xanh-bang,
.nut-do-bang {
	background: transparent;
	backdrop-filter: blur(20px);
	border-radius: 35px;
	padding: 0 15px;
}

.nut-do-bang {
	border: 1px solid #ff10d0;
	color: #ff56d4;
}

.nut-xanh-bang {
	border: 1px solid #00ff00;
	color: #00ff00;
}

.nut-do-bang:hover,
.nut-xanh-bang:hover {
	    background: linear-gradient(45deg, #000000, #000000);
}

.mau-chu {
	color: #eff4fc;
}