<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SCM_ThanhLong_Group.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="SCM_ThanhLong_Group.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">

    <link href="./font/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="./font/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="./font/fontawesome/css/solid.css" rel="stylesheet" />
    @* <link href="~/SCM_ThanhLong_Group.style.css" rel="stylesheet" /> *@
    <link href="css/style.css" rel="stylesheet" />

    <script src="/script/scp.js"></script>
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <HeadOutlet @rendermode="@InteractiveServer"/>
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
   
</body>

</html>
