.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.close-icon {
    font-size: 2rem;
}

.modal-dialog {
    border-radius: 15px;
    overflow: hidden;
}

.modal-content {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container-content {
    margin-left: 1.5vw;
    background: white;
}

.qr-code {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}