/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}*/

/*body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;*/
    /*background: linear-gradient(to right, rgb(220, 219, 200), rgb(205, 99, 227)), url('../images/chuoi-cung-ung.jpg');*/
    /*background: url('../images/khothanhlong.jpg');
    background-size: cover;*/ /* Để hình nền bao phủ toàn bộ */
    /*background-position: center;*/ /* Đặt hình nền ở giữa */
    /*background-repeat: no-repeat;*/ /* Không lặp lại hình nền */
/*}*/


/*.containerr {
    width: 420px;
    background: transparent;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid black;
    box-shadow: 0 0 100px;
}

    .containerr h1 {
        text-align: center;
        color: azure;
    }

    .containerr .box {
        width: 100%;
        height: 50px;
        margin: 30px 0;
        position: relative;
    }

.box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 16px;
    padding: 20px 50px 15px 20px;
    color: azure;
}

    .box input::placeholder {
        color: azure;
    }

.box i {
    position: absolute;
    right: 20px;
    margin-top: -35px;
    font-size: 20px;
    color: azure;
}

.containerr .remember-me {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: -22px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.remember-me a:hover {
    color: rgb(20, 102, 141);
}

label input {
    margin-right: 5px;
}

.containerr .btn {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.register {
    text-align: center;
    color: blue;
    margin-top: 10px;
}

    .register a:hover {
        color: rgb(20, 102, 141);
    }*/
