/* Style cho body */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; /* Nền trang nhẹ nhàng */
    font-family: Arial, sans-serif; /* Phông chữ chính */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao toàn màn hình */
}

/* Style cho toàn bộ container */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display:grid;
    place-items:center;
     
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}