@layout TelerikLayout
@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@inject NavigationManager Navigation
@inject SCM_ThanhLong_Group.Service.Users_Service UserService
@inject Profile_Service profileService

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="Blazored.Toast.Configuration.IconType.FontAwesome"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

<div class="page">
    <TelerikRootComponent>
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <main>
        <div class="top-row px-4">
            <span>Xin chào, @UserService.currentUserName!</span>
            <a href="/Home" class="btn btn-primary ms-3">Hồ sơ</a>
            <button @onclick="HandleLogout" class="btn btn-secondary ms-2">Đăng xuất</button>
        </div>

        <article class="content px-4">
            
            @Body
        </article>
    </main>
    </TelerikRootComponent>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            var currentUserName = await UserService.GetCurrentUserName();
            if (!string.IsNullOrEmpty(currentUserName))
            {
                UserService.currentUserName = currentUserName;
                StateHasChanged();
            }
            isInitialized = true;
        }
    }

    private async Task HandleLogout()
    {
        string userName = "C##" + UserService.currentUserName;
        await profileService.killSession(userName);
        await UserService.Logout();
        Navigation.NavigateTo("/");
        StateHasChanged();
    }

}