@page "/Register"
@rendermode InteractiveServer
@using SCM_ThanhLong_Group.Components.Layout
@layout LoginLayout

<h1 style="align-items:center;text-align:center">Vui lòng liên hệ nhà phát triển để được cấp tài khoản !</h1>
